<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg
            class="collapsible__chevron icon--chevron">
            <!-- <use xlink:href="images/sprite.svg#search"></use> -->
            <img class="image--small collapsible__chevron" src="images/chevron.svg" alt=""></svg>
        </header>
        <div class="collapsible__content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis dolorum accusantium dolore quo harum quia aspernatur magnam, magni molestiae!
        </div>
    </div>
